Source: oss-compat
Section: sound
Priority: optional
Maintainer: Debian Games Team <pkg-games-devel@lists.alioth.debian.org>
Uploaders: Stephen Kitt <skitt@debian.org>
Build-Depends: debhelper (>= 11~)
Standards-Version: 4.1.4
Vcs-Git: https://salsa.debian.org/games-team/oss-compat.git
Vcs-Browser: https://salsa.debian.org/games-team/oss-compat

Package: oss-compat
Architecture: any
Multi-Arch: foreign
Depends: kmod [linux-any], ${misc:Depends}
Recommends: ${osspd:Recommends}
Suggests: ${osspd:Suggests}
Description: Open Sound System (OSS) compatibility package
 This package ensures that Open Sound System support is provided in
 some way. On Linux, it enables the ALSA compatibility modules. On
 other kernels where OSS is the default interface, no action is
 taken.
 .
 The purpose of this package is for applications that only support OSS
 to depend on it, hence preventing common "/dev/dsp not found" errors
 that would confuse unexperienced users.
 .
 On Linux platforms a better approach nowadays is to use osspd, which
 emulates OSS devices using ALSA or PulseAudio.
